{% extends "base_generic.html" %} {% block content %} {% if form.errors %}
<p>Seu usuário ou senha não estão corretos. Por favor tente novamente.</p>
{% endif %} {% if next %} {% if user.is_authenticated %}
<p>
  Você não tem premissão para acessar esta página. Para proseguir, Por favor
  entre com uma conta que possui acesso.
</p>
{% else %}
<p>Por favor faça login para ver esta página.</p>
{% endif %} {% endif %}

<form method="post" action="{% url 'login' %}">
  {% csrf_token %}
  <table>
    <tr>
      <td>{{ form.username.label_tag }}</td>
      <td>{{ form.username }}</td>
    </tr>
    <tr>
      <td>{{ form.password.label_tag }}</td>
      <td>{{ form.password }}</td>
    </tr>
  </table>
  <input type="submit" value="login" />
  <input type="hidden" name="next" value="{{ next }}" />
</form>

{# Assumes you setup the password_reset view in your URLconf #}
<p><a href="{% url 'password_reset' %}">Esqueceu a senha?</a></p>

{% endblock %}
