{% extends 'core/base_model.html' %} 
{% load crispy_forms_tags %}
{% load static %}

{% block title %}
<title>PetVet - Novo Cadastro</title>
{% endblock %} 

{% block content %}
<h3>Novo Cadastro</h3>
<p>Preencha os campos para realizar um novo cadastro</p><hr><br>
<div class="row">
    <div class="col-md-4 mx-left">
        <form action="" method="POST">

            {% csrf_token %}
    
            {{ form|crispy }}
    
            <button type="submit" class="btn btn-warning mt-3">Salvar</button>
        </form>
    </div>
</div>
{% endblock %}
