{% extends 'core/base_model.html' %} 
{% load static %}

{%block title%}
<title>PetVet - Exames</title>
{% endblock %} 

{% block content %}
<h3><strong>Lista dos Exames Dermatológicos</strong></h3>
<hr>
<a href="{% url 'general_dherm_exam_new' %}" class="btn btn-success btn">Novo</a><br><br>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-dark" id="general_dherm_table">
    <thead class="thead-dark">  
      <tr>
        <th>Atendimento</th>
        <th>Tipo de Atendimento</th>
        <th>Queixa Principal</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for each in object_list %}
      <tr>
        <td>{{ each.medical_care }}</td>
        <td>{{ each.choice_anamnese }}</td>
        <td>{{ each.report }}</td>
        <td>
          <a href="{% url 'general_dherm_exam_detail' each.pk %}" class="btn btn-warning btn-sm">Detalhes</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Nenhum exame Dermatológico cadastrado.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){

        $('#pet_table').DataTable({
          responsive: true,
          // "bSort": false,
          "aaSorting": [],
          "pageLength": 10,
          "language": {
              "decimal": "",
              "emptyTable": "Sem dados disponíveis",
              "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
              "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
              "infoFiltered": "(filtrado de _MAX_ registos no total)",
              "infoPostFix": "",
              "thousands": ",",
              "lengthMenu": "",
              "loadingRecords": "A carregar dados...",
              "processing": "A processar...",
              "search": "Procurar:",
              "zeroRecords": "Não foram encontrados resultados",
              "paginate": {
                  "first": "Primeiro",
                  "last": "Último",
                  "next": ">",
                  "previous": "<"
              },
              "aria": {
                  "sortAscending": ": ordem crescente",
                  "sortDescending": ": ordem decrescente"
              }
          }
      });

    });

</script>
{% endblock %}