{% extends 'core/base_model.html' %} 
{% load static %}

{%block title%}
<title>PetVet - Exames</title>
{% endblock %} 

{% block content %}
<div class="row">
  <div class="col-sm-8 mx-auto">
    
    <div class="container">
      <h3><strong>Detalhe do Exame Dermatológico</strong></h3><hr>
      <div class="row col-3">
        <img class="card-img-top" src="{% static 'img/fitness_dog.png/' %}" alt="Imagem de capa do card">
      </div>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Detalhes: {{ generaldhermexam.medical_care }}</h5>
          <p class="card-text">Queixa Principal: {{ generaldhermexam.report }}</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Comportamento: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Peso: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Nível de Consciência: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Postura: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Hidratação: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Estado Nutricional: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Mucosa Oculopalpebral: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Mucosa Bucal: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Mucosa Genital: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Cálculo Dentário: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Perda Dentária: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Gengivite: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Úlcera: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Halitose: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Linfonodos: {{ generaldhermexam. }}</li>
            <li class="list-group-item">FC: {{ generaldhermexam. }}</li>
            <li class="list-group-item">FR: {{ generaldhermexam. }}</li>
            <li class="list-group-item">TPC: {{ generaldhermexam. }}</li>
            <li class="list-group-item">TR: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Pulso: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Ausculta Cardíaca: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Ritmo Cardíaco: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Ausculta Pulmonar: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Percussão Pulmonar: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Palpação Abdominal: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Mamas/Tetos: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Nódulos: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Dor Nódulo: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Localização da Dor: {{ generaldhermexam. }}</li>
            <li class="list-group-item">?????: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Região Genital: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Ectoparasitas: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Intensidade dos Parasitas: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Pelagem: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Orelhas: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Suspeitas: {{ generaldhermexam. }}</li>
            <li class="list-group-item">Classificação de caso: {{ generaldhermexam. }}</li>
          </ul>
        <div class="card-body">
          <a href="{% url 'general_dherm_exams' %}" class="btn btn-outline-light btn-sm">Voltar</a>
          <a href="{% url 'general_dherm_exam_edit' generaldhermexam.pk %}" class="btn btn-warning btn-sm">Editar</a>
          <a href="{% url 'general_dherm_exam_delete' generaldhermexam.pk %}" class="btn btn-danger btn-sm">Excluir</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
