{% extends 'core/base_model.html' %} 
{% load static %}

{%block title%}
<title>PetVet - Home</title>
{% endblock %} 

{% block content %}
<div class="row">
  <div class="col-md-4 mx-auto">
    
    <div class="container">
      <h3><strong>Bem vindo ao PetVet</strong></h3><hr>
      <div class="row col-4 mx-auto">
        <img class="card-img-top" src="{% static 'img/vet_hospital_icon.png/' %}" alt="Imagem de capa do card">
      </div>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">O hospital tem as seguintes contagens de registros:</h5>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Total de Atendimentos: <strong>{{ num_medical_cares }}</strong></li>
            <li class="list-group-item">Total de Pets: <strong>{{ num_pets }}</strong></li>
            <li class="list-group-item">Total de Tutores: <strong>{{ num_tutors }}</strong></li>
          </ul>
        <div class="card-body">
     
        </div>
      </div><hr>
      <br>
      <h3>
        <i class="fa fa-exclamation" aria-hidden="true"></i>
        Para ter acesso ao sistema e necessário fazer login.
      </h3>
    </div>
  </div>
</div>
{% endblock %}