{% extends "base_model.html" %} 

{%block title%}
<title>PetVet - Atendimentos</title>
{% endblock %} 



{% block content %}
<h1>
  Detalhes de {{ medicalcare.procedure }} de
  <a href="">{{ medicalcare.pet_name }}</a>
</h1>

<p><strong>Data:</strong> {{ medicalcare.date }}</p>
<p><strong>Hora:</strong> {{ medicalcare.time }}</p>
<p><strong>Veterinário(a):</strong> {{ medicalcare.vet_name }}</p>
<p><strong>Sedativo:</strong> {{ medicalcare.sedative }}</p>
<p><strong>Queixa:</strong> {{ medicalcare.report }}</p>

{% endblock %}

