{% extends 'core/base_model.html' %} 

{%block title%}
<title>PetVet - Atendimentos</title>
{% endblock %} 

{% block content %}
<h3>Lista de atendimentos</h3>
<hr>
<a href="{% url 'medical_care_new' %}" class="btn btn-success btn">Novo</a><br><br>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-dark">
    <thead class="thead-dark bg-dark">  
      <tr>
        <th>Data</th>
        <th>Hora</th>
        <th>Nome do Pet</th>
        <th>Tipo de Atendimento</th>
        <th>Relato do Problema</th>
        <th>Opções</th>
      </tr>
    </thead>
      {% for each in object_list %}
      <tr>
        <td>{{ each.date }}</td>
        <td>{{ each.time }}</td>
        <td>{{ each.pet_name }}</td>
        <td>{{ each.procedure }}</td>
        <td>{{ each.report }}</td>
        <td>
          <a href="{% url 'medical_care_edit' each.pk %}" class="btn btn-warning btn-sm">Editar</a>
          <a href="{% url 'medical_care_delete' each.pk %}" class="btn btn-danger btn-sm">Excluir</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Nenhum atendimento cadastrado.</td>
      </tr>
      {% endfor %}
    
  </table>
</div>
{% endblock %}
