{% extends 'core/base_model.html' %} 
{% load static %}

{%block title%}
<title>PetVet - Pets</title>
{% endblock %} 

{% block content %}

<h1 class="display-7 fw-bold text-warning text-body-emphasis lh-1 mb-2">Atendimentos de {{ pets.pet_name }}</h1>
<hr>
<div class="table-responsive">
  <table class="table table-bordered table-hover table-dark" id="pet_table">
    <thead class="thead-dark">  
      <tr>
        <th>Data</th>
        <th>Tipo atendimento</th>
        <th>Tipo de exame</th>
        <th>Queixa</th>
        <th>Veterinário</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for each in object_list %}
      <tr>
        <td>{{ each.date }}</td>
        <td>{{ each.pet_name }}</td>
        <td>{{ each.procedure }}</td>
        <td>{{ each.report }}</td>
        <td>{{ each.vet_name }}</td>
        <td>
          <a href="{% url 'medical_care_detail' each.pk %}" class="btn btn-warning btn-sm">Detalhes</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="6">Nenhum atendimento cadastrado.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){

        $('#pet_table').DataTable({
          responsive: true,
          // "bSort": false,
          "aaSorting": [],
          "pageLength": 10,
          "language": {
              "decimal": "",
              "emptyTable": "Sem dados disponíveis",
              "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
              "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
              "infoFiltered": "(filtrado de _MAX_ registos no total)",
              "infoPostFix": "",
              "thousands": ",",
              "lengthMenu": "",
              "loadingRecords": "A carregar dados...",
              "processing": "A processar...",
              "search": "Procurar:",
              "zeroRecords": "Não foram encontrados resultados",
              "paginate": {
                  "first": "Primeiro",
                  "last": "Último",
                  "next": ">",
                  "previous": "<"
              },
              "aria": {
                  "sortAscending": ": ordem crescente",
                  "sortDescending": ": ordem decrescente"
              }
          }
      });

    });

</script>

{% endblock %}