{% extends 'core/base_model.html' %} 
{% load static %}

{%block title%}
<title>PetVet - Atendimentos: Exame Fisico Geral</title>
{% endblock %} 

{% block content %}
<div class="row">
  <div class="col-sm-8 mx-auto">
    
    <div class="container">
      <h3><strong>Detalhe do Exame Fisico</strong></h3><hr>
      <div class="row col-2">
        <img class="card-img-top" src="{% static 'img/dog_icon.png/' %}" alt="Imagem de capa do card">
      </div>
      <div class="card text-white bg-dark mb-3">
        <div class="card-body">
          <h5 class="card-title">Detalhes: {{ physicalexam.medical_care }}</h5>
          <p class="card-text">Diagnóstico Final: {{ physicalexam.diag_final }}</p>
        </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">Comportamento: {{ physicalexam.choice_conduct }}</li>
            <li class="list-group-item">Peso: {{ physicalexam.weight }}</li>
            <li class="list-group-item">Nível de Consciência: {{ physicalexam.choice_consciousness }}</li>
            <li class="list-group-item">Postura: {{ physicalexam.stance }}</li>
            <li class="list-group-item">Hidratação: {{ physicalexam.hydration }}</li>
            <li class="list-group-item">Estado Nutricional: {{ physicalexam.choice_nutricional_status }}</li>
            <li class="list-group-item">Mucosa Oculopalpebral: {{ physicalexam.oculopalpebral }}</li>
            <li class="list-group-item">Mucosa Bucal: {{ physicalexam.bucal }}</li>
            <li class="list-group-item">Mucosa Genital: {{ physicalexam.genital }}</li>
            <li class="list-group-item">Cálculo Dentário: {{ physicalexam.choice_dental_calculus }}</li>
            <li class="list-group-item">Perda Dentária: {{ physicalexam.choice_dental_loss }}</li>
            <li class="list-group-item">Gengivite: {{ physicalexam.gengivite }}</li>
            <li class="list-group-item">Úlcera: {{ physicalexam.choice_ulcera }}</li>
            <li class="list-group-item">Halitose: {{ physicalexam.choice_halitose }}</li>
            <li class="list-group-item">Linfonodos: {{ physicalexam.linfonodos }}</li>
            <li class="list-group-item">FC: {{ physicalexam.fc }}</li>
            <li class="list-group-item">FR: {{ physicalexam.fr }}</li>
            <li class="list-group-item">TPC: {{ physicalexam.tpc }}</li>
            <li class="list-group-item">TR: {{ physicalexam.tr }}</li>
            <li class="list-group-item">Pulso: {{ physicalexam.pulse }}</li>
            <li class="list-group-item">Ausculta Cardíaca: {{ physicalexam.choice_auscu_cardio }}</li>
            <li class="list-group-item">Ritmo Cardíaco: {{ physicalexam.heart_rate }}</li>
            <li class="list-group-item">Ausculta Pulmonar: {{ physicalexam.choice_auscu_pulmonar }}</li>
            <li class="list-group-item">Percussão Pulmonar: {{ physicalexam.choice_percu_pulmonar }}</li>
            <li class="list-group-item">Palpação Abdominal: {{ physicalexam.palpa_abdominal }}</li>
            <li class="list-group-item">Mamas/Tetos: {{ physicalexam.choice_mamas }}</li>
            <li class="list-group-item">Nódulos: {{ physicalexam.choice_nodulo }}</li>
            <li class="list-group-item">Dor Nódulo: {{ physicalexam.choice_nodulo_pain }}</li>
            <li class="list-group-item">Localização da Dor: {{ physicalexam.choice_local_pain }}</li>
            <li class="list-group-item">?????: {{ physicalexam.choice_pain_m }}</li>
            <li class="list-group-item">Região Genital: {{ physicalexam.genital_region }}</li>
            <li class="list-group-item">Ectoparasitas: {{ physicalexam.choice_ectoparasitas }}</li>
            <li class="list-group-item">Intensidade dos Parasitas: {{ physicalexam.ectoparasitas_intensity }}</li>
            <li class="list-group-item">Pelagem: {{ physicalexam.pelage }}</li>
            <li class="list-group-item">Orelhas: {{ physicalexam.ears }}</li>
            <li class="list-group-item">Diagnósticos Diferenciais: {{ physicalexam.diag_differ }}</li>
            <li class="list-group-item">Classificação de caso: {{ physicalexam.case_classification }}</li>
          </ul>
        <div class="card-body">
          <a href="{% url 'physical_exams' %}" class="btn btn-outline-light btn-sm">Voltar</a>
          <a href="{% url 'physical_exam_edit' physicalexam.pk %}" class="btn btn-warning btn-sm">Editar</a>
          <a href="{% url 'physical_exam_delete' physicalexam.pk %}" class="btn btn-danger btn-sm">Excluir</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
