{% extends 'core/base_model.html' %} 

{%block title%}
<title>PetVet - Tutores</title>
{% endblock %} 

{% block content %}
<h3>Lista dos Tutores</h3>
<hr>
<a href="{% url 'tutor_new' %}" class="btn btn-success btn">Novo</a><br><br>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-dark">
    <thead class="thead-dark">  
      <tr>
        <th>Nome do Tutor(a)</th>
        <th>Telefone</th>
        <th>Email</th>
        <th>Opções</th>
      </tr>
    </thead>
      {% for each in object_list %}
      <tr>
        <td>{{ each.tutor_name }}</td>
        <td>{{ each.phone }}</td>
        <td>{{ each.email }}</td>
        <td>
          <a href="{% url 'tutor_detail' each.pk %}" class="btn btn-warning btn-sm">Detalhes</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">Nenhum Tutor cadastrado.</td>
      </tr>
      {% endfor %}
    
  </table>
</div>
{% endblock %}
