{% extends 'core/base_model.html' %} 
{% load static %}

{%block title%}
<title>PetVet - Veterinários</title>
{% endblock %} 

{% block content %}
<h3><strong>Lista dos Veterinários</strong></h3>
<hr>
<a href="{% url 'vet_new' %}" class="btn btn-success btn">Novo</a><br><br>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-dark" id="vet_table">
    <thead class="thead-dark">  
      <tr>
        <th>Nome do Veterinário(a)</th>
        <th>Opções</th>
      </tr>
    </thead>
    <tbody>
      {% for each in object_list %}
      <tr>
        <td>{{ each.vet_name }}</td>
        <td>
          <a href="{% url 'vet_edit' each.pk %}" class="btn btn-warning btn-sm">Editar</a>
          <a href="{% url 'vet_delete' each.pk %}" class="btn btn-danger btn-sm">Excluir</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">Nenhum Veterinário cadastrado.</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}

{% block scripts %}
<script>

    $(document).ready(function(){

        $('#vet_table').DataTable({
          responsive: true,
          // "bSort": false,
          "aaSorting": [],
          "pageLength": 10,
          "language": {
              "decimal": "",
              "emptyTable": "Sem dados disponíveis",
              "info": "Mostrando de _START_ até _END_ de _TOTAL_ registos",
              "infoEmpty": "Mostrando de 0 até 0 de 0 registos",
              "infoFiltered": "(filtrado de _MAX_ registos no total)",
              "infoPostFix": "",
              "thousands": ",",
              "lengthMenu": "",
              "loadingRecords": "A carregar dados...",
              "processing": "A processar...",
              "search": "Procurar:",
              "zeroRecords": "Não foram encontrados resultados",
              "paginate": {
                  "first": "Primeiro",
                  "last": "Último",
                  "next": ">",
                  "previous": "<"
              },
              "aria": {
                  "sortAscending": ": ordem crescente",
                  "sortDescending": ": ordem decrescente"
              }
          }
      });

    });

</script>
{% endblock %}