{% extends 'core/base_model.html' %} 

{%block title%}
<title>PetVet - Veterinários</title>
{% endblock %} 

{% block content %}
<h3>Lista dos Veterinários</h3>
<hr>
<a href="{% url 'vet_new' %}" class="btn btn-success btn">Novo</a><br><br>

<div class="table-responsive">
  <table class="table table-bordered table-hover table-dark">
    <thead class="thead-dark">  
      <tr>
        <th>Nome do Veterinário</th>
        <th>Opções</th>
      </tr>
    </thead>
      {% for each in object_list %}
      <tr>
        <td>{{ each.vet_name }}</td>
        <td>
          <a href="{% url 'vet_edit' each.pk %}" class="btn btn-warning btn-sm">Editar</a>
          <a href="{% url 'vet_delete' each.pk %}" class="btn btn-danger btn-sm">Excluir</a>
        </td>
      </tr>
      {% empty %}
      <tr>
        <td colspan="4">Nenhum Veterinário cadastrado.</td>
      </tr>
      {% endfor %}
    
  </table>
</div>
{% endblock %}
