/* Colors*/
:root {
    --preto: #000000;
    --branco-1: #ffffff;
    --branco-2: #E0E2DD;
    --azul-1: #0477BF;
    --azul-2: #0388A6;
    --azul-3: #003570;
    --amarelo-1: #F2CB05;
    --amarelo-2: #D98E04;
    --preto-bg: #292A2D;
}


body {
    background-color: var(--preto-bg);
    color: var(--preto);
    padding-bottom: 20px;
}


h3 {
    color: var(--amarelo-2);
}


h4 {
    color: var(--amarelo-2);
}


div {
    color: var(--branco-1);
}


.navbar {
    background-color: var(--azul-1);
    color: var(--amarelo-2);
    margin-bottom: 20px;
}


p {
    color: var(--branco-1);
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}


@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}


.b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}


.b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
}


.bi {
    vertical-align: -.125em;
    fill: currentColor;
}


.nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
}


.nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
}

.blog-footer {
    margin-bottom: 0;
    padding: 0;
    text-align: center;
}